
@{
    ViewBag.Title = "Quản lý";
    Layout = "~/Views/Shared/_Layout.cshtml";
    CongThongTinDienTu.Models.DAO.Account account = (CongThongTinDienTu.Models.DAO.Account)Session[CongThongTinDienTu.Utils.CommonConstant.USER_SESSION];
}

<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li class="active">Dashboard</li>
    </ol>
</div>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Dashboard</h1>
    </div>
</div>
@{
    if (account.DVQLId != 25)
    {
        <div class="panel panel-container">
            <div class="row">
                <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
                    <div class="panel panel-teal panel-widget border-right">
                        <div class="row no-padding">
                            <a href="/pgd/danhsachtruongchuacocttdt">
                                <em class="fa fa-xl fa-user-times color-red"></em>
                                <div class="large">@ViewBag.SchoolsChuaCoCongThongTin</div>
                                <div class="text-danger">Chưa có CTTDT</div>
                            </a>
                            
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
                    <div class="panel panel-blue panel-widget border-right">
                        <div class="row no-padding">
                            <a href="/pgd/danhsachtruongchualamhopdonggiahan">
                                <em class="fa fa-xl fa fa-lock color-red"></em>
                                <div class="large">@ViewBag.SchoolsChuaGiaHan</div>
                                <div class="text-danger">Chưa gia hạn</div>
                            </a>
                        </div>
                    </div>
                </div>
                
                <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
                    <div class="panel panel-orange panel-widget border-right">
                        <div class="row no-padding">
                            <a href="/pgd/danhsachtruongchuathanhtoan">
                                <em class="fa fa-xl fa fa-money color-orange"></em>
                                <div class="large">@ViewBag.SchoolsChuaDongTien</div>
                                <div class="text-danger">Chưa thanh toán</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    
}